﻿@model WebApplication5.Models.ProductModel
@{
    Layout = null;
}

@Scripts.Render("~/product/product/js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<html>
<head>
    <title>AddProduct</title>
</head>
<body>
        @using (Html.BeginForm("AddProductSubmit", "Product", null, FormMethod.Post, new { id = "add_frm" }))
        {<table>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.ProductName)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.ProductName, new { @id = "prName" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.ProductPrice)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.ProductPrice, new { @id = "prPrice" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.ProductMemo)
                    </td>
                    <td>
                        @Html.TextAreaFor(Model => Model.ProductMemo, 5, 20, new { @id = "prMemo" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.ProductSafeDay)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.ProductSafeDay, new { @id = "prSafeDay" })
                        <span>日</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.RegisterDate)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.RegisterDate, new { @id = "prRegister", @readonly = true, @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(Model => Model.ModifyDate)
                    </td>
                    <td>
                        @Html.TextBoxFor(Model => Model.ModifyDate, new { @id = "prRegister", @readonly = true, @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                    </td>
                </tr>
            </table>

            <a href="javascript:void(0);" onclick="AddProductSubmit()">Add</a>
            <a href="javascript:void(0);" onclick="ProductFormCancle()">Cancle</a>
        }
</body>
</html>



