﻿@model WebApplication5.Models.ProductModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailProductForm</title>
</head>
<body>
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.ProductName)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ProductName, new { @id = "prName" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ProductPrice, new { @id = "prPrice" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.ProductMemo)
            </td>
            <td>
                @Html.TextAreaFor(Model => Model.ProductMemo, 5, 20, new { @id = "prMemo" , @readonly = true})
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.ProductSafeDay)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ProductSafeDay, new { @id = "prSafeDay" })
                <span>日</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.RegisterDate, new { @id = "prRegister", @Value = Model.RegisterDate.ToString("yyyy-MM-dd") })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.ModifyDate)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.ModifyDate, new { @id = "prModify", @Value = Model.ModifyDate.ToString("yyyy-MM-dd") })
            </td>
        </tr>
    </table>
    <a href="javascript:void(0);" onclick="ProductFormCancle()">Cancle</a>
</body>
</html>
