﻿@model IEnumerable<WebApplication5.Models.InventoryModel>

@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/product/inventory/js")
@Styles.Render("~/product/inventory/css")
@Scripts.Render("~/bundles/home/js")
@Styles.Render("~/Content/css")
<html>
<head>
    <title>InventoryList</title>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
        <div style="text-align:left; margin-top:5px; margin-bottom: 5px;">
            <a href="javascript:void(0);" onclick="InventoryForm('new',1)"><span>Add New Inventory</span></a>
        </div>
        <div>
            <div class="pr_image">
                photo
            </div>
            <div class="inventory">
                <table class="inventory_table">
                    <thead>
                        <tr class="inven_col">
                            <th style="text-align:center; border:1px solid black; width:20%;">
                                @Html.DisplayNameFor(model => model.InventoryId)
                            </th>
                            <th style="text-align:center; border:1px solid black; width:20%;">
                                @Html.DisplayNameFor(model => model.InventoryName)
                            </th>
                            <th style="text-align:center; border:1px solid black; width:20%;">
                                @Html.DisplayNameFor(model => model.InventoryCookDate)
                            </th>
                            <th style="text-align:center; border:1px solid black; width:20%;">
                                @Html.DisplayNameFor(model => model.InventorySafeDate)
                            </th>
                            <th style="text-align:center; border:1px solid black; width:20%;">
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center; width:20%; border:1px solid black;">
                                    <a href="">
                                        @item.InventoryId
                                    </a>
                                </td>
                                <td style="text-align:center; width:20%; border:1px solid black;">
                                    @item.InventoryName
                                </td>
                                <td style="text-align:center; width:20%; border:1px solid black;">
                                    @item.InventoryCookDate.ToString("yyyy/MM/dd")
                                </td>
                                <td style="text-align:center; width:20%; border:1px solid black;">
                                    @item.InventorySafeDate.ToString("yyyy/MM/dd")
                                    <span>まで</span>
                                </td>
                                <td style="text-align:center; width:20%; border:1px solid black;">
                                    @item.Amount
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>
