﻿@model WebApplication5.Models.ProductModel
@{
    Layout = null;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/product/product/js")
@Styles.Render("~/Content/Product/productList.css")

<html>
<head>
    <title>ModifyProduct</title>
</head>
<body>
    @using (Html.BeginForm("ModifyProductSubmit", "Product", null, FormMethod.Post, new { @id = "modi_frm" }))
    {
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.ProductId)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.ProductId, new { @id = "prId", @readonly = true})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.ProductName)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.ProductName, new { @id = "prName" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.ProductPrice)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.ProductPrice, new { @id = "prPrice" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.ProductMemo)
                </td>
                <td>
                    @Html.TextAreaFor(Model => Model.ProductMemo, 5, 20, new { @id = "prMemo" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.ProductSafeDay)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.ProductSafeDay, new { @id = "prSafeDay"})
                    <span>日</span>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.RegisterDate)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.RegisterDate, new { @id = "prRegister", @readonly = true })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model => Model.ModifyDate)
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.ModifyDate, new { @id = "prRegister", @readonly = true, @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                </td>
            </tr>
        </table>

        <a href="javascript:void(0);" onclick="ModifyProductSubmit()">Modify</a>
        <a href="javascript:void(0);" onclick="ProductFormCancle()">Cancle</a>
    }
</body>
</html>

<!--
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function () {
        $(".datePicker").datepicker();
        $(".datePicker").datepicker("option", "dateFormat", "yy-mm-dd");
        $(".datePicker").datepicker("option", "showAnim", "slideDown");
    });
</script>
    -->