﻿@model IEnumerable<WebApplication5.Models.ProductModel>

@{
    ViewBag.Title = "ProductList";
}
@{
    Layout = null;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/product/product/js")
@Styles.Render("~/product/productList/css")
@Scripts.Render("~/bundles/home/js")
@Styles.Render("~/Content/css")

<html>
<head>
    <title>ProductList</title>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>


    <div class="brand">Business Casual</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Product", "ProductList", "Product")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container" id="prList">
        <div class="row">
            <div class="box">
                <hr />
                <h2 class="intro-text text-center">
                    PRODUCT
                    <strong>PRODUCT LIST</strong>
                </h2>
                <hr />
                <a href="javascript:void(0);" onclick="ProductForm('new',1)">Add New Product</a>
                <table class="pd_table">
                    <tr class="pd_col">
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ProductId)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ProductPrice)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ProductMemo)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ProductSafeDay)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.RegisterDate)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayNameFor(model => model.ModifyDate)
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayName("備考")
                        </th>
                        <th style="text-align:center">
                            @Html.DisplayName("在庫")
                        </th>
                    </tr>
                   
                        @foreach (var item in Model)
                        {
                            <tr>
                                @for (int x = 0; x < 10; x++)
                                {
                                    <td><hr /></td>
                                }
                            </tr>
                            <tr class="pr_tr">
                                <td>
                                        @item.ProductId
                                </td>
                                <td>
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.ProductPrice
                                </td>
                                <td>
                                    @item.ProductMemo
                                </td>
                                <td>
                                    @item.ProductSafeDay
                                    <span>日</span>
                                </td>
                                <td>
                                    @item.RegisterDate.ToString("yyyy/MM/dd")
                                </td>
                                <td>
                                    @item.ModifyDate.ToString("yyyy/MM/dd")
                                </td>
                                <td>
                                    <a href="javascript:void(0);" onclick="ProductForm('@item.ProductId ',2)" id="modify">修正 | </a>
                                    <a href="javascript:void(0);" onclick="ProductForm('@item.ProductId ',3)" id="detail">詳細 | </a>
                                    <a href="javascript:void(0);" onclick="ProductForm('@item.ProductId ',4)" id="delete">削除</a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="InventoryView(@item.ProductId)">
                                       <div id="inven_view_@item.ProductId" data-view="on">&nbsp;</div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9" align="center" id="inven_@item.ProductId"></td>
                            </tr>
                        }
                    <tr>
                        @for(int x = 0; x < 10; x++)
                        {
                            <td><hr /></td>
                        }
                    </tr>
                </table>
                <div width=100%>
                    <a href="ProductList">List</a>
                </div>
                <div id="searchBox">
                    <div id="panel"><h5>『商品のIDまた名前を入力してください。』</h5></div> 
                    @Html.TextBox("search", null, new { @id = "searchPr", size = 25 })
                    <a href="javascript:void(0);" onclick="SearchProduct()" id="search">検索</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Kim Website 2017</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>


