﻿@model IEnumerable<WebApplication5.Models.ProductModel>

@{
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/product/product/js")
@Styles.Render("~/Content/Product/productList.css")
@Scripts.Render("~/bundles/home/js")
@Styles.Render("~/Content/css")
<html>
<head>
    <title>ProductList</title>


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <table class="pd_table">
        <tr class="pd_col">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ProductId)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ProductName)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ProductPrice)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ProductMemo)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ProductSafeDay)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.RegisterDate)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ModifyDate)
                <hr />
            </th>
            <th style="text-align:center">
                @Html.DisplayName("備考")
                <hr />
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class=pr_tr>
                <td>
                    <a href="javascript:void(0)" , onclick="InventoryView('@item.ProductId')">
                        @item.ProductId
                    </a>
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductPrice
                </td>
                <td>
                    @item.ProductMemo
                </td>
                <td>
                    @item.ProductSafeDay
                    <span>日</span>
                </td>
                <td>
                    @item.RegisterDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @item.ModifyDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    <a href="javascript:void(0);" onclick="ProductForm('@item.ProductId ',2)" id="modify">修正 | </a>
                    <a href="javascript:void(0);" onclick="ProductForm('@item.ProductId ',3)" id="detail">詳細 | </a>
                    <a href="javascript:void(0);" onclick="ProductForm('@item.ProductId ',4)" id="delete">削除</a>
                </td>
            </tr>
        }
        <tr>
            @for (int x = 0; x < 9; x++)
            {
                <td><hr /></td>
            }
        </tr>
    </table>



</body>
</html>
