﻿.inventory {
    width: 800px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    float:left;
    margin-left:5px;
}

.inventory_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    margin: -1px 0 0 -1px;
    width: 800px;
    display: table;
    table-layout: fixed;
    position: absolute;
    background-color: gray;
}

tbody tr:first-child td {
    padding-top: 30px;
}

th, td {
    padding: 6px;
}

.pr_image {
    float: left;
    width: 300px;
    height: 150px;
    background-color: black;
    margin-left:5px;
    margin-right:5px;
}
