﻿hr {
    height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}


.pd_table {
    width: 100%;
    text-align:center;
}

.inven_table {
    width: 100%;
    text-align: center;
}

#searchBox {
    text-align: center;
    width: 100%;
}



#searchBox > #panel {
    text-align: center;
    display: none;
}

#inven {
    text-align: center;
    display: none;
}

#inven_searchNull {
    text-align: center;
}

[data-view="on"] {
    background-image: url("/Content/Image/add.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
[data-view="off"] {
    background-image: url("/Content/Image/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

