﻿@model WebApplication5.Models.User.UserModel
@{
    Layout = null;
}

@Scripts.Render("~/user/register/js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/home/js")
@Styles.Render("~/Content/css")

<html>
<head>

    <title>MyPage</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="brand">MyPage</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Product", "ProductList", "Product")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="box">
                <table class="pd_table" align="center">
                    <tr class="pd_col">
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserNumber)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserNumber.ToString(), new {@id="userNumber"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserId)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserId.ToString(), new { @id = "userId" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserLastName)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserLastName, new { @id = "userLastName" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserFirstName)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserFirstName, new { @id = "userFirstName" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserSex)
                        </td>
                        <td>
                            &nbsp;
                            @if(Model.UserSex == 1)
                            {
                                @Html.Label("男性", new { @id = "userSex" })
                            }
                            else
                            {
                                @Html.Label("女性", new { @id = "userSex" })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserBirthday)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserBirthday.ToString("yyyy-MM-dd"), new { @id = "userBirth" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserEmail)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserEmail, new { @id = "userEmail" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserPhone)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserPhone, new { @id = "userPhone" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.UserAddress)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.UserAddress, new { @id = "userAddress" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(Model => Model.RegisterDate)
                        </td>
                        <td>
                            &nbsp;
                            @Html.Label(Model.RegisterDate.ToString("yyyy-MM-dd"), new { @id = "registerDate" })
                        </td>
                    </tr>
                </table>
                <div id="register_button" align="center">
                    <a href="javascript:void(0);" onclick="ModifyUserSubmit()">Modify / </a>
                    <a href="javascript:void(0);" onclick="MyPageFormCancle()">Cancle</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
