﻿@model WebApplication5.Models.User.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
@Scripts.Render("~/bundles/home/js")
@Styles.Render("~/Content/css")
@Scripts.Render("~/user/sign/js")
<html>
<head>

    <title>Sign In</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="brand">Business Casual</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Product", "ProductList", "Product")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="box">
                @using (Html.BeginForm("SignInSubmit", "User", null, FormMethod.Post, new { @id = "signIn_frm" }))
                {

                    <table class="pd_table" align="center">
                        <tr class="pd_col">
                            <td>
                                @Html.DisplayNameFor(Model => Model.UserId)
                            </td>
                            <td>
                                &nbsp;
                                @Html.TextBoxFor(Model => Model.UserId, new { @id = "userId" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(Model => Model.UserPass)
                            </td>
                            <td>
                                &nbsp;
                                @Html.PasswordFor(Model => Model.UserPass, new { @id = "userPass" })
                            </td>
                        </tr>
                    </table>
                    <div id ="sign_button" align="center">
                        <a href="javascript:void(0);" onclick="SignInSubmit()">Sign In / </a>
                        <a href="javascript:void(0);" onclick="SignInCancle()">Cancle</a>
                    </div>
                }
                </div>
            </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                </div>
            </footer>
</body>
</html>
